<div class="container-fluid footer-body">
  <div class="row">
    <div class="col mt-5">
      <p>
        Papeleria el buen lapiz, ofreciendo articulos indispensables para escuela y oficina,
        desde el año 2001, con la calidad de un pequeño negocio
      </p>
    </div>
    <div class="col">
      <ul>
        <li><button type="button" [routerLink]="['home']" class="btn btn-link">Home</button></li>
        <li><button type="button" [routerLink]="['acercade']" class="btn btn-link">Acerca de</button></li>
        <li><button type="button" class="btn btn-link">Contacto</button></li>
      </ul>
    </div>
    <div class="col mt-3">
      <ul>
          <li><span>DIreccion: Hacienda las pilas #108</span></li>
          <li><span>Telefono: 9716991</span></li>
          <li><span>Horario de atencion: Lunes a viernes de 9am a 9pm</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> Copyright © 2019 CDJ, Inc.</p>
    </div>
    <div class="col text-right">
      <button type="button" [routerLink]="['terms']" class="btn btn-outline-light">Terminos y condiciones</button>
    </div>
  </div>
</div>