<div class="caja"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Acerca de</h4>
              <p class="card-text">
                Somos una papeleria que se ecunentra en la direccion de Hacienda las pilas #108,<br> hemos estado abiertos desde el año 2001 y contamos con varios servicios como:<br> engargolados, enmicados, copias, impresiones (blanco/nego y a color)
              </p>
              <a [routerLink]="['home']" class="btn btn-primary">Go home</a>
            </div>
          </div>
    </div>
  </div>
